@model loginWebApp.Models.LoginViewModel
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="login-area">
                    <div class="container">
                        <div class="row no-gutter">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="login-title">
                                    <h4>Login</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="login-holder">
                                    <div class="login-form" id="logingform">
                                        <p>User Name</p>
                                        <div class="input-group">
                                            <input type="text" name="UserName" id="UserName" class="form-control login-input-group login-form-control" placeholder="enter your User Name" aria-describedby="basic-addon1">
                                            @Html.ValidationMessageFor(m => m.UserName)
                                        </div>
                                        <p>Password</p>
                                        <div class="input-group">
                                            <input type="password" name="Password" id="Password" class="form-control login-input-group login-form-control" placeholder="enter your password" aria-describedby="basic-addon1">
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                        <a href="#">
                                            <input type="submit" value="Login" class="login-button hvr-float-shadow" />
                                        </a>
                                        <p style="font-size:14px">
                                            Haven't got an account yet?
                                            <a href="@Url.Action("Register", "Account")"
                                               style="text-decoration:underline; color:#ec7e06">Create an account</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}